/**
 * Some basic styles to prevent known glitches with theme styles.
 */
/* Basis and other themes. */
.fullcalendar-view table {
  margin: 0;
}
/* Seven */
.fullcalendar-view tr:hover,
.fullcalendar-view tr:hover td.active,
.fullcalendar-view tr.odd:hover td.active {
  background: inherit;
}
/* Axioma */
.fullcalendar-view td,
.fullcalendar-view th {
  overflow: visible;
}
@media (max-width: 660px) {
  .fc .fc-toolbar-title {
    font-size: 1.3em;
  }
}
