/**
 * Some basic styles to prevent known glitches with theme styles.
 */
.fullcalendar-view a {
  color: currentcolor;
}
/* Basis and other themes. */
.fullcalendar-view table {
  margin: 0;
}
/* Seven */
.fullcalendar-view tr:hover,
.fullcalendar-view tr:hover td.active,
.fullcalendar-view tr.odd:hover td.active {
  background: inherit;
}
/* Axioma */
.fullcalendar-view td,
.fullcalendar-view th {
  overflow: visible;
}
@media (max-width: 48em) {
  .fc .fc-toolbar-title {
    font-size: 1.4em;
    line-height: 1.2;
  }
}
.fullcalendar-view.fc .fc-toolbar {
  gap: 1rem;
}
@media (max-width: 32em) {
  .fullcalendar-view.fc .fc-toolbar {
    display: block;
  }
  .fullcalendar-view.fc .fc-toolbar-chunk {
    margin-bottom: .5rem;
  }
  .fullcalendar-view.fc .fc-toolbar-chunk:last-child {
    margin-bottom: 0;
  }
}
